name: Release Drafter

on:
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: read

jobs:
  update_release_draft:
    if: >
      github.event.pull_request.merged == true &&
      !contains(github.event.pull_request.labels.*.name, 'skip-changelog')
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
